<!-- JEANS STORE -->
<div uk-slideshow>
  <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">

    <ul class="uk-slideshow-items">
      <li>
        <%= image_tag 'jeans2.jpg' %>
      </li>
      <li>
        <%= image_tag 'jeans1.jpg' %>
      </li>

    </ul>

  </div>
  <ul class="uk-slideshow-nav uk-position-bottom uk-dotnav uk-flex-center uk-margin"></ul>
</div>

<!-- JOIN THE STYLE REVOLUTION -->
<div class="uk-height-viewport" id="join">
  <div class="" uk-grid>
    <div class="uk-width-1-2@m">
      <%= image_tag 'jeans3.jpg', width: 300, class: 'uk-align-center uk-margin-medium-top' %>
    </div>
    <div class="uk-width-1-2@m uk-align-center">
      <div class="uk-text-center uk-margin-medium-right uk-margin-medium-top"><h2>Why us?</h2>
        <p class="">We give you the style, confident and quality you need on the streets and in every
          single situation of your
          life- time</p>
        <p>All the colors, slim, baggy, short or whatever you like it, you will find it here, at The Jeans Store</p>
        <p>Ask us for what you dream and we'll give it to you</p>
        <p>JOIN THE STYLE REVOLUTION</p>
      </div>
    </div>
  </div>
</div>

<!-- CARDS SECTION -->

<div class="uk-grid-collapse" id="cards" uk-grid>

  <div class="uk-width-1-3@m">
    <div class="uk-text-center">
      <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
        <%= image_tag 'Cards/1.jpg' %>
        <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
          <span class="uk-position-top-left uk-padding-small" style="color: black;" uk-icon="heart"></span>
          <button class="uk-button uk-button-default" style="color: black; border-color: black">Buy Now</button>
        </div>
      </div>
    </div>
  </div>
  <div class="uk-width-1-3@m">
    <div class="uk-text-center">
      <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
        <%= image_tag 'Cards/2.jpg' %>
        <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
          <span class="uk-position-top-left uk-padding-small" style="color: black;" uk-icon="heart"></span>
          <button class="uk-button uk-button-default" style="color: black; border-color: black">Buy Now</button>
        </div>
      </div>
    </div>
  </div>
  <div class="uk-width-1-3@m">
    <div class="uk-text-center">
      <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
        <%= image_tag 'Cards/3.jpg' %>
        <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
          <span class="uk-position-top-left uk-padding-small" style="color: black;" uk-icon="heart"></span>
          <button class="uk-button uk-button-default" style="color: black; border-color: black">Buy Now</button>
        </div>
      </div>
    </div>
  </div>
  <!--second row-->
  <div class="uk-width-1-3@m">
    <div class="uk-text-center">
      <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
        <%= image_tag 'Cards/4.jpg' %>
        <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
          <span class="uk-position-top-left uk-padding-small" style="color: black;" uk-icon="heart"></span>
          <button class="uk-button uk-button-default" style="color: black; border-color: black">Buy Now</button>
        </div>
      </div>
    </div>
  </div>
  <div class="uk-width-1-3@m">
    <div class="uk-text-center">
      <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
        <%= image_tag 'Cards/5.jpg' %>
        <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
          <span class="uk-position-top-left uk-padding-small" style="color: black;" uk-icon="heart"></span>
          <button class="uk-button uk-button-default" style="color: black; border-color: black">Buy Now</button>
        </div>
      </div>
    </div>
  </div>
  <div class="uk-width-1-3@m">
    <div class="uk-text-center">
      <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
        <%= image_tag 'Cards/6.jpg' %>
        <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
          <span class="uk-position-top-left uk-padding-small" style="color: black;" uk-icon="heart"></span>
          <button class="uk-button uk-button-default" style="color: black; border-color: black">Buy Now</button>
        </div>
      </div>
    </div>
  </div>

</div>