<div id="menu" class="uk-animation-slide-right" uk-offcanvas="flip: true;">
  <div class=" menu_bar uk-offcanvas-bar">
    <button class="uk-offcanvas-close white-button" type="button" uk-close></button>
    <%= link_to root_path do %>
      <h2 class="white-text">The Jeans Store</h2>
    <% end %>
    <ul class="uk-nav uk-nav-default uk-padding-small uk-margin-auto-vertical">
      <li><a href="#join" uk-scroll>Join the revolution</a></li>
      <li><a href="#cards" uk-scroll>For you</a></li>
    </ul>
  </div>
</div>
