<div class="uk-position-relative">
  <div class="uk-position-top uk-position-z-index">
    <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
      <div class="uk-navbar-left">
        <h1 class="white-text">The Jeans Store</h1>
      </div>
      <div class="uk-navbar-right">
        <a href="#menu" uk-toggle class="white-text">
          <span uk-icon="icon:more-vertical; ratio: 2;"></span>
        </a>
      </div>
    </nav>
  </div>
</div>

<%= render 'components/menu' %>