/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require materialdesignicons
 *= require uikit/dist/css/uikit.min
 */

/* Custom classes */

.fg{
  font-size: 1.7rem;
}
.white-text{
  color: white;
}
.uk-navbar-toggle{
  color: white !important;
}

.uk-dotnav>.uk-active>*{
  background-color: white !important;
}
.uk-dotnav>*>*{
  background-color: lightgray !important;
  width: 15px !important;
  border: 1px solid white !important;
  height: 15px !important;
}
.uk-overlay-default{
  background-color: rgba(255, 255, 255, .5) !important;
}